*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 2rem 8rem;
}
.content-wrapper{
    border: 2px solid crimson;
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}
h2{
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid crimson;
    
}
button {
    padding: .6rem 3rem;
    margin:1rem 2rem;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 1rem;
    outline: none;
}
button.btn-primary{
    background: rgb(0, 127, 231);
}
button.btn-danger{
    background: rgb(245, 60, 60);
}
button.btn-primary:hover{
    background: rgb(5, 91, 161);
}
button.btn-danger:hover{
    background: rgb(144, 13, 13);
}
.result-container{
    border-top: 2px solid crimson;

}